a {
  color: black;
  text-decoration: none;
}

.bg {
  background-image: url("../../assets/images/background-menu.jpg");
  background-position: center;
  height: 500px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.btn-ingreso {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #77472b;
  color: #77472b;
  font-family: "Noto Sans" !important;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.63);
  margin-top: -500px;
  height: 500px;
}

.about-title {
  display: flex;
  justify-content: center;
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 20px;
  opacity: 100% !important;
}

.about-info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.mision-img {
  display: flex;
  justify-content: center;
  /* margin-top: -500px; */
  height: 531px;
}

.mision {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: #77472B; */
  /* color: white; */
  margin-top: -500px;
  padding-left: 120px;
  height: 500px;
}

.m-bg {
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 10px;
  padding: 20px;
  width: 500px;
}

.mision-title {
  font-size: 48px;
  /* font-weight: 600; */
  padding-left: 20px;
  margin-bottom: 15px;
}

.mision-info {
  padding-left: 25px;
  padding-bottom: 15px;
}

.bottom {
  display: flex;
  padding: 80px 120px 20px 120px;
  height: auto;
}

.info-sucursales > p {
  padding-left: 30px;
  margin-bottom: 10px;
}

.pys {
  /*productos y servicios*/
  display: flex;
  margin-top: 60px;
  margin-left: 450px;
  text-align: center;
}

.productos {
  margin-right: 100px;
}

.productos > p {
  margin-bottom: 10px;
}

.servicios > p {
  margin-bottom: 10px;
}

.login-modal {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.modal-body {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.btn-modal {
  background-color: #77472b;
  color: white;
  margin-top: 35px;
  padding: 5px;
}
